* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header,
.section-two,
.section-three,
.section-four,
.footer {
    padding: 0 150px;
}

.header,
.footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    flex-direction: column;
}

.upper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.lower-header {
    margin: 72px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero {
    flex: 1 1 300px;
    padding-right: 20px;
    margin-bottom: 30px;
}

.image-placeholder {
    flex: 1 1 300px;
    height: 300px;
    background-color: grey;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero p,
.footer,
.header-links,
.left p {
    font-size: 18px;
    font-weight: 100;
    color: #E5E7EB;
}

.hero p {
    margin-bottom: 12px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 10px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    padding: 8px 24px;
    border: none;
}

.section-two {
    padding-bottom: 80px;
}

.section-two h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 36px 0;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.card {
    width: 150px;
    text-align: center;
    margin: 10px;
}

.illustration {
    width: 100%;
    height: 150px;
    border: solid 3px #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.section-three {
    background-color: #E5E7EB;
    min-height: 350px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-height: 90%;
}

.inspiring-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.quoted-by {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 700;
    margin: 15px;
}

.section-four {
    height: 200px;
    display: flex;
    justify-content: center;
    padding: 100px 150px;
}

.blue-background {
    background-color: #3882F6;
    display: flex;
    max-width: 1200px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    padding: 0 20px;
}

.call-to-action {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.right button {
    border: solid 1px #F9FAF8;
}

.footer {
    height: 100px;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}